*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;	
}
nav{
	background:lightgrey;
	height: 100px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color:grey;
	font-size: 17px;
	padding: 15px 7px;
	border-radius: 3px;
	text-transform: none;
}
a.active,a:hover{
	background:none;
	text-decoration: none;
	color:white; 
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right:40px; 
	cursor: pointer;
	display:none;	
}
#check{
	display: none;
}
.wrapper{
  overflow: hidden;
}

body, html{
  height: 110%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0.5, 0, 0.5), rgba(0, 0.5, 0, 0.5)),
   url("../img/p.p2.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align:left;
  padding-left: 38px;
  padding-top: 150px;
 width: 68vw;
 justify-content: center;
 align-items: center;
  color: white;
}

.hero-text h1{
	display:block;
	font-size: 45px;
	padding-left: 15px;
}
.hero-text p{
	display: block;
	font-size:15px;
	padding-left:15px;
}



/* #main{
  width: 500px;
  height: 500%;
  border:1px solid;
     display: flex;
 }
 #main div{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 450px;
 }
 #main div:nth-of-type(1){
  flex-basis: 100px;

 }

 #main div:nth-of-type(2){
  flex-basis: 200px;
  background-color: rgb(63, 62, 62);
		 color: white;
		  text-align: center;
 }

 #main div:nth-of-type(3){
  flex-basis: 350px;
  background-color: rgb(63, 62, 63); 
		color: white;
		 text-align: center;
 }
 #main div:nth-of-type(4){
  flex-basis: 350px;
  background-color: tomato; 
		color: white;
}
 
#main div:nth-of-type(5){
  flex-basis: 500px;
 } */


#footer {
    background-color:lightgrey;
    color:grey;
    clear: both;
    text-align: center;
    padding: 10px;
}

@media(max-width: 952px){
	label.logo{
	  display:flex;
	}
	nav ul li a{
	display:none;
	}
  
  }
  @media(max-width: 858px){
	.checkbtn{
	  display:flex;
	}
	.container{
	  margin: 5px;
	  padding: 5px;
	}
	
	.btn{
	  padding: 3px 5px; 
	  width: 40px; 
	  display: flex;
	}
	.hero-text{
		font-size: 20px;
		text-align: left;
		margin: 0px;
	}
	/* #main{
		width: 50px;
		height: 70%;
		   display: flex;
	   }
	   #main div{
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 300px;
	   } */
	   /* #main div:nth-of-type(1){
		flex-basis: 55px;
	  
	   }
	  
	   #main div:nth-of-type(2){
		flex-basis: 105px;
		background-color: rgb(63, 62, 62);
		 color: white;
		  text-align: center;
	   }
	  
	   #main div:nth-of-type(3){
		flex-basis: 105px;
		background-color: rgb(63, 62, 63); 
		color: white;
		 text-align: center;
	   }
	   #main div:nth-of-type(4){
		flex-basis: 120px;
		background-color: tomato; 
		color: white;
	  }
	   
	  #main div:nth-of-type(5){
		flex-basis: 85px
	   }
	  .wrapper{
		  overflow: auto;
	  }
	} */
  
/* @media(max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 90px;
	}
	nav ul li a{
		font-size: 30px;
	}
}
@media(max-width: 858px){
	.checkbtn{
		display: none;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 120vh;
		background:lightblue linear-gradient(rgba(0, 0.5, 0, 0.5), rgba(0, 0.5, 0, 0.5)), url("../img/p.p2.jpg");
		top: 95px;
		left: 0px;
		text-align: center;
		transition: all.5s;
	}
	nav ul li{
		display:block;
		margin: 80px 0;
		line-height: 2px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover, a.active{
		background: none;
		color:skyblue;
	}
	#check:checked ~ul{
		left: 0px;
	}
}

@media(max-width: 858px){
	.hero-image {
  display: hidden;
}
} */








